  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Sofia+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav div a h2 {
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -10px;
  }

  nav div div ul {
    transition: 2s;
  }

  nav div div ul li:hover {
    background-color: #94A1A6;
    border-radius: 10%;
  }

  nav-link active{
    color:white;
  }
  nav div div ul li a{
    color: white;
  }
  nav div div ul li h3{
    color: white;
  }

  body {
    font-family: 'Sofia Sans', sans-serif;
    background-color: white;
    /*HERO*/
    /*Seccion favoritos y equipajes*/
  }

  body .hero {
    display: flex;
    position: relative;
    width: 100vw;
    height: 600px;
  }

  body .hero img {
    width: 100vw;
    object-fit: cover;
  }

  body .hero div {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    top: 80%;
    left: 65%;
  }

  body .hero div a {
    font-size: 45px;
    letter-spacing: -2px;
    word-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    font-weight: bold;
  }

  body .nuestrosFavoritos {
    height: 100%;
    margin: 60px;
    margin-top: 0;
    text-align: center;
  }

  body .nuestrosFavoritos h2 {
    font-weight: bold;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    ;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }

  body .nuestrosFavoritos .nuestrosFavoritosContenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  body .nuestrosFavoritos .nuestrosFavoritosContenedor .nuestrosFavoritosItem {
    background-color: white;
    width: 205px;
    height: 350px;
    border: 3px solid black;
    margin: 10px;
    border-radius: 15px;
  }

  body .nuestrosFavoritos .nuestrosFavoritosContenedor .nuestrosFavoritosItem h3 {
    border-top: 3px solid;
    font-weight: bold;
    ;
    text-transform: uppercase;
    padding-top: 10px;
  }

  body .nuestrosFavoritos .nuestrosFavoritosContenedor .nuestrosFavoritosItem a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: rgb(18, 44, 56);
    font-weight: bold;
  }

  body .nuestrosFavoritos .nuestrosFavoritosContenedor .nuestrosFavoritosItem img {
    width: 200px;
    height: 250px;
    padding: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  body .noticias {
    margin: 0px 60px 0px 60px;
  }

  body .noticias h2 {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 10px;
    text-align: center;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    ;
  }

  footer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100px;
    justify-content: space-around;
    border-top: 3px solid;
    place-items: center;
    background-color: white;
  }

  footer div {
    height: 80px;
  }

  footer div ul {
    list-style: none;
    height: 50px;
    color: black;
  }

  footer div ul li {
    text-align: center;
  }

  footer div ul li a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }

  footer div {
    height: 80px;
  }

  footer div:nth-child(3) a img {
    height: 60px;
    padding: 8px;
    margin-top: 20px;
  }

  footer div:nth-child(2) a img {
    height: 80px;
    margin-top: 20px;
  }

  .nosotros h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }

  .nosotros .nosotrosContenedor {
    display: flex;
    margin: 30px 400px 0 400px;
  }

  .formContenedor {
    margin: 10vh 10vh;
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
  }

  .formContenedor ul {
    list-style: none;
    box-shadow: 2px 4px 10px 4px hex(rgba(0, 0, 0, 0));
    border-radius: 10px;
    padding: 12px 16px;
    width: 70vw;
    margin-bottom: 10px;
    height: 100%;
  }

  .formContenedor ul div li {
    display: grid;
  }

  .formContenedor ul div li label {
    font-size: 20px;
    font-weight: bolder;
  }

  .formContenedor ul div li h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .formContenedor ul div li input {
    border-radius: 5px;
  }

  .formContenedor ul div li textarea {
    border-radius: 5px;
  }

  .formContenedor ul div li .formBtnEnviar {
    background-color: black;
    color: white;
  }

  .formContenedor div {
    padding: 12px 16px;
  }

  .formContenedor div:nth-child(3) {
    display: flex;
    height: 30%;
  }

  .formContenedor div:nth-child(3) li {
    width: 100%;
  }

  #contenedorPagProductos {
    height: 100%;
    margin: 60px;
    margin-top: 0;
    text-align: center;
  }

  .productosContenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .productosItem {
    background-color: white;
    width: 205px;
    height: 300;
    margin: 10px;
    background-color: rgb(230, 230, 230);
    border-bottom: 2px solid lightgray;
  }

  .productosItem h5 {
    font-size: 30px;
    padding-top: 10px;
    font-family: 'DM Serif Text', serif;
  }
  .productosItem h6 {
    font-size: 22px;
    text-transform: uppercase;
  }

  .productosItem img {
    width: 200px;
    height: 250px;
    padding: 0;
  }

  .productosItem button {
    font-size: 20px;
    color: rgb(18, 44, 56);
    font-weight: bold;
    border: none;
  }
  #carritoContenedor{
    display: grid;
    position: absolute;
    top: 80px;
    color: white;
    width: 80vw;
    margin-left:10vw;
  }
  
  .carritoHeader{
    background-color: lightgray;
    height: 40px;
    display: flex;
    justify-content: space-between;
  }
  .carritoHeader h2{
    color: black;
    margin: 5px;
    font-family: 'DM Serif Text', serif;
    padding-left: 10px;
  }
  .carritoHeader button{
    color: black;
    font-weight: bold;
    width: 40px;
    padding: 5px;
    text-align: center;
  }
  .carritoBody{
    background-color: rgb(228, 228, 228);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid lightgray;
  }
  .carritoBody img{
    width: 200px;
    height: 300px;
    justify-content: center;
    border-radius: 10px;
  }
  .carritoBody h3{
    color: black;
    font-family: 'DM Serif Text', serif;
    
  }
  .carritoBody h5{
    color: black;
    font-family: 'DM Serif Text', serif;
  }
  
  .carritoBody div{
    display: flex;

  }
  .carritoBody h4{
    color: black;
    font-family: 'DM Serif Text', serif;
    font-size: 30px;
  }
  .carritoBody h6{
    margin-left: 30px;
    font-size: 30px;
    color : green;
    font-weight: bold;
    text-align: center;
  }
  .carritoTotal{
    background-color: rgb(228, 228, 228);
    color: black;
    font-family: 'DM Serif Text', serif;
    display: flex;
    justify-content: space-between
  }
  #checkoutBtn{
    height: 40px;
    width: 80px;
    margin-right: 40px;
    border-radius: 10%;
    background-color: lightgreen;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
  }
  .carritoTotal h2{
    margin-left: 40px;
  }
  #checkoutCont{
    background-color: black;
    position: relative;
  }
  .barraBusqueda{
    margin-left: 300px;
    position: relative;
    display: flex;
    ;
  }
  #checkoutCont{
    display: grid;
    position: absolute;
    top: 80px;
    color: black;
    width: 80vw;
    margin-left:10vw;
    background-color: white;
  }
  .checkoutHeader{
    display: flex;
    justify-content: space-between;
  }
  .checkoutHeader h2{
    margin-left: 10px;
  }
  .checkoutHeader button{
    height:40px;
    width: 40px;
  }
  .deleteProd{
    margin-left: 10px;
    height: 30px;
    width: 30px;
  }